body{
    background-color: gray;
    color: whitesmoke;
    font-family: Arial, sans-serif;
}

#container{
    display: flex;
    flex-flow:column;
}

#intro{
    display: flex;
    flex-flow:row;
}

#bi{
    display: flex;
    flex-flow:row;
}

#gid{
    display: flex;
    flex-flow:row;
}

#shadow{
    display: flex;
    flex-flow:row;
}